body{
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{    
    width: 150px;
}

.card{    
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 150px auto 0px auto;
    text-align: center;
    background-color: #ddebf8;    
    border-bottom: 10px #d8cefe solid;
    color: #2b2839;
}

.border-blue{
    border: 1px dotted lightblue;
    
}